# --system: /etc/gitconfig
# --global: ~/.gitconfig or ~/.config/git/config
# in repo aka --local: .git/config

[user]
	# Prefer per-repo settings to allow for different identities
	name = ""
	email = ""
[core]
	autocrlf = input
	editor = vim
[alias]
	co = checkout
	co- = checkout @{-1}
	st = status
	rst = -c status.relativePaths=false status
	cp = cherry-pick -x
	k = log --graph --abbrev-commit --pretty=oneline --decorate
	difft = difftool
	root = "!git rev-parse --show-toplevel"
	br = "!f() {  \
                   if [ -z \"$1\" ] || [ \"$1\" = \"-v\" ] || [ \"$1\" = \"-vv\" ]; then  \
                       width=$(git for-each-ref --format='%(refname:short)' refs/heads | wc -L);  \
                       if [ \"$1\" = \"-v\" ]; then  \
                           git for-each-ref --format=\"%(HEAD) %(if)%(HEAD)%(then)%(color:green)%(end)%(align:left,$width)%(refname:short)%(end)%(color:reset) %(objectname:short) %(if)%(upstream:track,nobracket)%(then)[%(color:red)%(upstream:track,nobracket)%(color:reset)]%(end)%(subject)\" refs/heads/;  \
                       else  \
                           git for-each-ref --format=\"%(HEAD) %(if)%(HEAD)%(then)%(color:green)%(end)%(align:left,$width)%(refname:short)%(end)%(color:reset) %(objectname:short) %(if)%(upstream)%(then)[%(color:blue)%(upstream:short)%(color:reset)%(if)%(upstream:track,nobracket)%(then): %(color:red)%(upstream:track,nobracket)%(color:reset)%(end)] %(end)%(subject)\" refs/heads/;  \
                       fi;  \
                   else  \
                       git branch \"$@\";  \
                   fi;  \
                   }; f"
	unadd = reset HEAD
[push]
	default = simple
	followTags = true
[diff]
	tool = vimdiff
	algorithm = histogram
[difftool]
	prompt = false
[transfer]
	fsckObjects = true
[fetch]
	prune = true
	pruneTags = true
